<h1>Select a gift exchange:</h1>

<table>
<% for exchange in @exchanges %>
  <tr>
    <td><%=h exchange.name %></td>
    <td><%= link_to 'View gift exchange members', :controller => 'exchanges', :action => 'show_members', :id => exchange.id %></td>
  </tr>
<% end %>
</table>


