<h1>Administration tasks</h1>

<p><%= link_to "Admin users", users_url%></p></br>
<p><%= link_to "Admin Exchanges", admin_exchanges_url%></p></br>
<p><%= link_to "Admin Subscriptions", subscriptions_url%></p></br>
