
body { 
	margin:0;
	padding:0; 
}

body, div, span, td, input, select { 
/*	font-family:Arial;
	font-size:10pt;*/
	font-family: Georgia, 'Lucida Grande', sans-serif;     
	font-size: small;	 	
}	

h1, h2, h3, h4, h5 { margin:0;padding:0; }

/* FIXES */

body {
	font-size: x-small; /* IE5 Win */
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

html>body { /* be nice to Opera */
	font-size: medium;
}

/* LINKS */

a {
  text-decoration: none;
  color: #66ff66;
}

a:link, 
a:visited {
	color: #FFFFF;
}

a:hover, 
a:active {
  text-decoration: none;
  color: #999999 !important;
}

a:link.cancel, 
a:visited.cancel {
  color: red; 
}

a:link img,
a:hover img {
  border: 0;
}

/* page elements */

ul.collapsed       { list-style:none;display:inline;padding:0;margin:0;position:relative; }
  ul.collapsed li  { display:inline;padding:0;margin:0;position:relative; }
ul.menu            {}
  ul.menu li.first { border:0;padding:0; }
  ul.menu li       { border-left:1px solid #ccc;padding:0 0 0 4px; }
  
table.bordered        { border-collapse:collapse; }
  table.bordered tr   {}
    table.bordered th { border:1px solid #999;padding:0.25em 1em;background-color:#eee; }
    table.bordered td { border:1px solid #999;padding:0.25em 1em; }

/* page structure */

#page {
	background-color: #e6e6e6;
	width: 40em;
	margin: 0 auto;
}

#header {
  	color: #e6e6e6;
	min-height: 110px;
  	background: #006600;
  	padding: 0px 5px;
  	font-size: 40pt;
  	text-align: center;
}

    #title      { font-size:40pt;line-height:1.5; }
    #top-right  { text-align: right; float: none;top:0;right:0; }
  #tabs         {text-align: center;}
    #tabs li    { font-size:16pt; }
	#tabs li a { color: #333333; }

  #flash        { border:2px solid red;padding:0.5em;margin:1em 0; }
  #content { border:1px solid #eee;margin:1em 0;padding:1em 0;border-top:2px solid #ccc;border-bottom:2px solid #ccc; }

#footer {
	background:#006600 none repeat scroll 0%;
	min-height: 50px;
	color:white;
	font-size:85%;
	line-height:1.25em;
	margin:0pt auto;
	padding:1.5em;
	text-align:center;
}

#footer p.left {
  float: left;
  text-align: left;
}

#footer p.right {
  float: right;
  text-align: right;
}

/* forms */
fieldset {
    float: left;
    clear: left;
    width: 100%;
    margin: 1.5em 0 0 0;
    padding: 0;
    border: 1px solid #BFBAB0;
    background-color: #F2EFE9;
}

legend {
    margin-left: 1em;
    color: #000000;
    font-weight: bold;
}

fieldset ol {
    padding: 1em 1em 0 1em;
    list-style: none;
}

fieldset li {
    padding-bottom: 1em;
}

label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: right;
}

fieldset.submit {
    float: none;
    width: auto;
    padding-left: 12em;
    border: 0 none #FFF;
    background-color: transparent;
}

