<% accessible_form_for(@gift) do |f| %>
  <%= f.text_field :name, :size => 30 %>
  <%= f.text_field :quantity, :size => 2 %>
	<fieldset class="submit">
	  <p>
	    <%= f.submit "Create" %>
	  </p>
	</fieldset>
<% end %>

<%= link_to 'Back', gifts_path %>
