<% if logged_in? -%>
	<div id="menu">
	 <ul id="nav">
	  <li class='activelink'><%= link_to 'Wishlist', gifts_url %></li>
	  <!-- <li><a href="#">Shopping list</a></li> -->
	  <li><%= link_to "Exchanges", exchanges_url %></li>
	 </ul>
	</div>
<% end -%>


