<% if logged_in? -%>
<div id="tabs">
  <ul class="collapsed menu">
    <li class="first"><%= link_to 'My List', list_url %></li>
    <li><%= link_to 'Others Lists', people_url %></li>
    <li><%= link_messages %></li>
  </ul>
</div>
<% end -%>